body{
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    /* left: 50%; */
    background-color: #000;
    border: 1px solid #fff;
}

.canvas {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
}

.hourglass {
    position: absolute;
    width: 200px;
    height: 400px;
    background-color: #000;
    margin: 50px auto;
    mask-image: url(#hourglassMask);
    -webkit-mask-image: url(#hourglassMask);
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
} 

.formContainer{
    border: 1px solid #fff;
    margin: 20px;
    /* position: absolute */
    top: 0;
    /* left: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}